* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(255,255,255)
}

th {
    font-weight: bold;
    border: 1px solid black;
    background-color: #dee2e6;
    padding: 5px;
}

td {
    text-align: center;
    padding: 5px;
}

#table tr:nth-child(even) {
    background-color: #dee2e6
}

#table td {
    border: 1px solid rgb(104, 104, 104);
}


input {
    border-radius: 5px;
    border: 1px solid black;
    outline: 0;
}

.form {
    padding: 20px;
}

.form td {
    text-align: start;
}

.search-btn {
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

select {
    display: block;
    margin-bottom: 10px;
}

.btn {
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}




